@import "/vendor/andreasphil/design-system@v0.52.0/dist/design-system.min.css"
  layer(theme);

:root {
  --body-padding-x: 0;
  --body-padding-y: clamp(48px, 4.486vw + 31.402px, 96px);
  --border-radius-large: 0px;
  --theme-tint: 250;
  --theme-primary: 67% 0.18 250;
}

@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  :root {
    --theme-primary: 56% 0.18 250;
    --c-fg-variant: var(--neutral-600);
  }
}

@media (width >= 50rem) {
  :root {
    --line-height: 1.7;
  }
}

body {
  border: dashed var(--c-border);
  border-width: 0 var(--border-width);
  margin-inline: 1rem;
  min-height: 100dvh;
}
@media (width >= 50rem) {
  body {
    margin-inline: auto;
  }
}

:is(h2, h3) {
  text-transform: capitalize;
}

hr {
  border-color: var(--c-border);
  border-style: dashed;
}

strong {
  font-weight: var(--font-weight-medium);
}

.body-section {
  border: 0px dashed var(--c-border);
  border-block-width: var(--border-width);
  margin-top: calc(-1 * var(--border-width));

  &:not(.no-padding) {
    padding-inline: 2rem;
  }
}

.note {
  --outer-spacing-y: 1rem;
  --c-link: var(--primary);
  --c-link-hover: var(--c-fg);

  hgroup {
    margin-bottom: 2rem;
  }

  h3 {
    margin-top: 2rem;
  }

  :is(ol, ul, dl, li + li) {
    margin-top: var(--outer-spacing-y);
  }

  ul:last-child li:last-child p {
    margin-bottom: 0;
  }
}

.cards {
  background-color: var(--c-border-variant);
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1px;
}

.card {
  height: 100%;
  margin: 0;

  a {
    background-color: var(--c-surface-bg);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 100%;
    padding: 1.25rem;
    text-decoration: none;
    transition-property: border-color, color, background-color;

    &:hover {
      background-color: var(--c-bg);
    }

    &:focus-visible {
      outline: var(--outline);
      outline-offset: var(--outline-inset);
    }
  }

  .card-icon {
    font-size: var(--font-size-h5);
    line-height: 1;
    margin-bottom: 2.5rem;
    margin-top: 0.1rem;
  }

  .card-title {
    font-weight: var(--font-weight-medium);
    line-height: 1.25;
    margin-top: auto;
  }

  .card-description {
    color: var(--c-fg-variant);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    line-height: 1.25;
  }
}

.newer-older {
  display: flex;
  justify-content: space-between;
  max-width: 50rem;
  padding-block: 2rem;
}
